#root {
  height: 100% !important;
  padding: 1px !important;
  margin: 0;
  /* background-color: red;  */
  /* background-image: url("/shubham-dhage--2eXWZkliWo-unsplash.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  */
  background-color: white;
}
.body {
  height: 100vh;
  
}


/* google maps autocomplete api stuff */
.autocomplete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100%;
  position: relative;
  min-height: 10%;
  box-sizing: border-box;
  border: solid black 1px;
}

.autocomplete-input {
  width: 80%;
  height: 60%;
  background-color: white;
  border: solid black 1px;
  max-width: 500px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.autocomplete-dropdown {
  position: absolute;
  top: 100%;
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
  border-left: solid black 1px;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  width: 69%;
  max-width: 500px;
  z-index: 50;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f5f5f5;
}

.place-info {
  margin-top: 20px;
  text-align: left;
  width: 100%;
  max-width: 800px;
}

.place-info h2 {
  margin-bottom: 10px;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.photo {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.photo img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.photo p {
  margin-top: 5px;
  font-size: 12px;
  color: #555;
}

/* calendar component when creating a trip */
.p-datepicker {
  background-color: white;
  color: #00005A;
}

/* disables the 2nd checkmark displayed when a map filter is displayed from Primereact */
.p-checkbox-box {
  display: none !important;
 
}

.button-background {
  background-image: linear-gradient(90deg, rgb(0, 55, 235) -26.47%, rgb(120, 80, 250) 97.77%);
  border-radius: 50px;
  transition: filter 0.3s ease;
}

.button-background:hover {
  filter: brightness(1.25);
}

/* .accordion-header > h2 {
  font-size: 0.875rem !important;
} */