@import 'tailwindcss';

@font-face {
  font-family: 'grotley';
  src: url('/fonts/grotley.otf') format('opentype');
}

#root {
  height: 100vh !important;
  padding: 1px !important;
  background-color: #fcfbf7;
  margin: 0;
}

html, body {
  background-color: #fcfbf7;
  box-sizing: border-box;
  font-family: 'grotley' !important;
}

* {
  box-sizing: border-box;
}
